PORT=8082
JWT_SECRET="dev-secret-key"

USER_SERVICE_URL="http://user-service:3001"
ELIGIBILITY_SERVICE_URL="http://eligibility-engine:3002"
COMPANY_SERVICE_URL="http://company-service:3003"
AGENT_SERVICE_URL="http://agent-service:8000"
